@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Quattrocento&family=Satisfy&display=swap");

#menu {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  background-image: url("https://raw.githubusercontent.com/ozaslanA/fsweb-s7-challenge-pizza/main/Assets/mvp-banner.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-title {
  display: flex;
  justify-content: start;
  font-size: 40px;
  margin-bottom: 50px;
  font-family: "Quattrocento", serif;
}
.menu-subtitle {
  display: flex;
  justify-content: center;
  font-family: "Satisfy", serif;
  color: #fdc913;
  font-size: 30px;
  font-weight: 50;
  margin-bottom: -45px;
}
h2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: "Barlow", serif;
  font-weight: normal;
}
button {
  border-color: yellow;
  border-radius: 40px;
  padding: 1px 35px;
  color: black;
  background-color: #fdc913;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: black;
  color: white;

  transform: scale(1.1);
}
