@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Quattrocento&family=Satisfy&display=swap");
nav {
  padding: 10px 0 10px 0;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin: 0 35px 0 0;
}
nav ul li a {
  text-decoration: none;

  padding: 14px 20px;
}

nav ul li:hover {
  transform: scale(1.5);
}

#icon {
  margin: 0 10px -10px 0;
}
